.u-section-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1 .u-image-1 {
  height: 659px;
  margin-top: 0;
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 125px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 39px auto;
  padding: 11px 37px 11px 36px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 309px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  font-style: normal;
  width: 906px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  width: 883px;
  margin: 22px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1559px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1559px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 103px;
  margin: 0 auto;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 20px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-poster-1 {
  background-image: url("images/photo_2022-04-08_16-16-00.jpg");
}

.u-section-4 .u-video-2 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-video-poster-2 {
  background-image: url("images/photo_2022-04-08_16-12-27.jpg");
}

.u-section-4 .u-video-3 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0;
}

.u-section-4 .embed-responsive-3 {
  position: absolute;
}

.u-section-4 .u-video-4 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0;
}

.u-section-4 .embed-responsive-4 {
  position: absolute;
}

.u-section-4 .u-video-poster-3 {
  background-image: url("images/photo_2022-04-08_16-18-15.jpg");
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 98px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-video-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-video-3 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-video-4 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 62px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-video-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-video-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-video-4 {
    width: 340px;
    height: 191px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1232px;
}

.u-section-5 .u-image-1 {
  width: 358px;
  height: 102px;
  margin: 17px auto 0;
}

.u-section-5 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-video-2 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
}

.u-section-5 .u-video-3 {
  width: 570px;
  height: 321px;
  margin: 30px auto 60px;
}

.u-section-5 .embed-responsive-3 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-5 .u-video-2 {
    width: 540px;
    height: 304px;
    margin-top: 76px;
  }

  .u-section-5 .u-video-3 {
    width: 540px;
    height: 304px;
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 97px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .u-video-2 {
    width: 340px;
    height: 191px;
    margin-top: 30px;
  }

  .u-section-5 .u-video-3 {
    width: 340px;
    height: 191px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2174px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 131px;
  margin: 46px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 361px;
  margin: 15px auto 0;
}

.u-section-6 .u-video-1 {
  width: 800px;
  height: 601px;
  margin: 32px auto 0;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-video-poster-1 {
  background-image: url("images/Screenshot2022-04-08112040.png");
}

.u-section-6 .u-video-2 {
  width: 800px;
  height: 504px;
  margin: 43px auto 0;
}

.u-section-6 .embed-responsive-2 {
  position: absolute;
}

.u-section-6 .u-video-3 {
  width: 800px;
  height: 459px;
  margin: 46px auto 0;
}

.u-section-6 .embed-responsive-3 {
  position: absolute;
}

.u-section-6 .u-video-poster-2 {
  background-image: url("images/photo_2022-04-08_16-20-56.jpg");
}

.u-section-6 .u-text-2 {
  width: 680px;
  margin: 110px auto 60px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2018px;
  }

  .u-section-6 .u-video-1 {
    width: 720px;
    height: 541px;
  }

  .u-section-6 .u-video-2 {
    width: 720px;
    height: 454px;
  }

  .u-section-6 .u-video-3 {
    width: 720px;
    height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1660px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 124px;
  }

  .u-section-6 .u-video-1 {
    width: 540px;
    height: 406px;
  }

  .u-section-6 .u-video-2 {
    width: 540px;
    height: 341px;
  }

  .u-section-6 .u-video-3 {
    width: 540px;
    height: 310px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 78px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-6 .u-video-1 {
    width: 340px;
    height: 256px;
  }

  .u-section-6 .u-video-2 {
    width: 340px;
    height: 215px;
  }

  .u-section-6 .u-video-3 {
    width: 340px;
    height: 195px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}