.u-section-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1 .u-image-1 {
  height: 659px;
  margin-top: 0;
  margin-bottom: 0;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 304px;
}

.u-section-2 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  padding: 11px 37px 11px 36px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  font-style: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 906px;
  margin: 30px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 18px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 152px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: -122px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-group-1 {
  width: 803px;
  min-height: 192px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 31px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-list-1 {
  margin-bottom: 26px;
  margin-top: 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 874px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-shape-1 {
  width: 148px;
  height: 148px;
  margin: 22px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -106px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-4 .u-video-1 {
  width: 363px;
  height: 187px;
  margin: 30px 0 0 auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-2 {
  width: 363px;
  height: 187px;
  margin: 70px auto 0;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-shape-2 {
  width: 148px;
  height: 148px;
  margin: 22px auto 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -106px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 70px auto 0;
}

.u-section-4 .u-video-3 {
  width: 363px;
  height: 187px;
  margin: 30px 0 0 auto;
}

.u-section-4 .embed-responsive-3 {
  position: absolute;
}

.u-section-4 .u-video-4 {
  width: 363px;
  height: 187px;
  margin: 70px auto 0;
}

.u-section-4 .embed-responsive-4 {
  position: absolute;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-shape-3 {
  width: 148px;
  height: 148px;
  margin: 22px auto 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -106px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 70px auto 0;
}

.u-section-4 .u-video-5 {
  width: 363px;
  height: 187px;
  margin: 30px 0 0 auto;
}

.u-section-4 .embed-responsive-5 {
  position: absolute;
}

.u-section-4 .u-video-6 {
  width: 363px;
  height: 187px;
  margin: 70px auto 0;
}

.u-section-4 .embed-responsive-6 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 721px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1657px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-video-1 {
    width: 340px;
    height: 175px;
  }

  .u-section-4 .u-video-2 {
    width: 340px;
    height: 175px;
  }

  .u-section-4 .u-video-3 {
    width: 340px;
    height: 175px;
  }

  .u-section-4 .u-video-4 {
    width: 340px;
    height: 175px;
  }

  .u-section-4 .u-video-5 {
    width: 340px;
    height: 175px;
  }

  .u-section-4 .u-video-6 {
    width: 340px;
    height: 175px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 476px;
}

.u-section-5 .u-text-1 {
  margin: 25px 230px 0;
}

.u-section-5 .u-video-1 {
  height: 362px;
  width: 800px;
  margin: 25px auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 130px;
    margin-left: 130px;
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 631px;
}

.u-section-6 .u-text-1 {
  font-weight: normal;
  margin: 43px auto 0;
}

.u-section-6 .u-form-1 {
  height: 406px;
  width: 570px;
  margin: 43px auto 0;
}

.u-section-6 .u-input-1 {
  text-transform: none;
}

.u-section-6 .u-input-2 {
  text-transform: none;
}

.u-section-6 .u-input-3 {
  text-transform: none;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    width: 340px;
  }
}